#if($allFacts && !$allFacts.isEmpty())
<facts>
#foreach($object in $allFacts)
#set($id = "fact_" + $object.name + "_" + $foreach.count)
    <fact objectref="$object.id" name="$id" id="$id">
#foreach($field in $object.fields)
        <facttriple attributeref="$field.attributeRef">
            <support>
                <sgroup>
                    <facttripleref facttripleref="$id"/>
                </sgroup>
            </support>
        </facttriple>
#end
    </fact>
#end
</facts>
#end