#if($variables && !$variables.isEmpty())
<variables>
#foreach($variable in $variables)
    <variable typeref="$variable.typeref">
        <set>
#foreach($item in $variable.items)
            <item>$item</item>
#end
        </set>
    </variable>
#end
</variables>
#end
