#if(!$types.isEmpty())
<types>
#foreach($deftemplate in $types)
    <type id="$deftemplate.id" name="$deftemplate.name">
#foreach( $slot in $deftemplate.slots )
        <attribute id="$slot.id" name="$slot.id" basetype="$slot.baseType" type="$slot.type">
#if(!$slot.values.isEmpty() || !$slot.ranges.isEmpty())
            <domain>
#if(!$slot.values.isEmpty())
#foreach($value in $slot.values)
                    <item>$value</item>
#end
#end
#if(!$slot.ranges.isEmpty())
#foreach($range in $slot.ranges)
                    <range>
                        <from>$range.from</from>
                        <to>$range.to</to>
                    </range>
#end
#end
            </domain>
#end

        </attribute>
#end
    </type>
#end
</types>
#end